<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
        <title>Chat</title>
        <style>
            a{
                position: fixed;
                right: 5%;
                height: 4.5%;
                width: 12%;
                top: 8px;
            }
            li {
                list-style-type: none;
                font-size: 20px;
                color: white;
            }
        </style>
    </head>
    <body style="background-color: black;">
        <h1 style="text-align: center; color: white;">Chat</h1>
        <a class="btn btn-primary" href="{{url_for('auth_router_page')}}">logout</a>
        <button class="btn btn-danger" style=" position: fixed;right: 5%;width: 12%;white-space: nowrap;">delete account</button>
        <form action="" onsubmit="sendMessage(event)">
            <input type="text" id="messageText" placeholder="write here" class="form-control" style="width: 25%;display: inline;">
            <button class="btn btn-primary">Send</button>
        </form>
        <ul id='messages'>
        </ul>
        <script>
            var ws = new WebSocket(`ws://{{ip_maquina}}:8000/ws?token={{token}}`);
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
            };
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(input.value)
                input.value = ''
                event.preventDefault()
            }
        </script>
    </body>
</html>