{% extends 'register.html' %}

{% block title %}
    <title>login</title>
{% endblock title %}

{% block form %}
    <form method="post" action="/accounts/auth">
        <h1 style="color: white;">login</h1>
        <br>
        <div class="mb-3">
            <input name="username" type="username" class="form-control" placeholder="Username"><br>
            <input name="password" type="password" class="form-control" placeholder="Password">
        </div>
        <div class="d-grid gap-2 col-5 mx-auto">
            <button type="submit" class="btn btn-primary" style="height: 45px;">Submit</button>
            <a href="{{url_for('register_router_page')}}"><h5>register</h5></a><br><br>
        </div>
    </form>
    {% if error %}
        <h3 style="color: red; text-align: center;">Incorrect username or password!</h3>
    {% endif %}
{% endblock form %}