<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <title>login</title>
</head>
<body style="background-color: black">
    <style>
        h1{
            text-align: center;
            padding-top: 145px;
        }

        .form-control{
            height: 45px;
            width: 42%;
            margin: auto;
            background-color: rgb(28,28,28);
            border-width: 2px;
            border-color: rgb(83, 80, 80);
            color: rgb(255, 252, 252);
        }

        .form-control::placeholder{
            color: rgb(171, 170, 170);
        }
    </style>
    <form method="post" action="">
        <h1 style="color: white;">
            login
        </h1>
        <br>
        <div class="mb-3">
            <input type="username" class="form-control" id="exampleInputusername" placeholder="Username" style="height: 45px;width: 42%;margin: auto;" ><br>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" style="height: 45px;width: 42%;margin: auto;">
        </div>
        <div class="d-grid gap-2 col-5 mx-auto">
            <button type="submit" class="btn btn-primary" style="height: 45px;;">Submit</button>
            <a href="{{url_for('register_router_page')}}"><h5>create an account</h5></a>
        </div>
    </form>
</body>
</html>