<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_boilerplaite.html' %}
    {% block title %}
        <title>register</title>
    {% endblock title %}
    <style>
        h1 {
            text-align: center;
            padding-top: 145px;
        }
        .form-control {
            height: 45px;
            width: 42%;
            margin: auto;
            background-color: rgb(28,28,28);
            border-width: 1px;
            border-color: rgb(83, 80, 80);
            color: rgb(255, 252, 252);
        }

        .form-control::placeholder {
            color: rgb(171, 170, 170);
        }
    </style>
</head>
<body style="background-color: black">
    {% block form %}
        <form method="post" action='/accounts/register'>
            <h1 style="color: white;">register</h1>
            <br>
            <div class="mb-3">
                <input name="username" required type="text" class="form-control" id="exampleInputUsername1" placeholder="Username"><br>
                <input name="email" required type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email"><br>
                <input name="password" required type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div> 
            <div class="d-grid gap-2 col-5 mx-auto">
                <button type="submit" class="btn btn-primary" style="height: 45px;">Submit</button>
                <a href="{{url_for('auth_router_page')}}"><h5>sign in</h5></a><br><br>
            </div>
        </form>
        <h3 style="color: red; text-align: center;">{{exception}}</h3>
        <h3 style="color: green; text-align: center;">{{success}}</h3>
    {% endblock form %}
</body>
</html>