<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_boilerplaite.html' %}
    <title>users</title>
    <style>
        *{
            margin: auto;    
        }
        h1{
            text-align: center;
            padding-top: 85px;
            color: white;
        }
    </style>
</head>
<body style="background-color: black;">
    <h1>registered users</h1>
    <br><br>
    <table style="width: 65%;" class="table table-dark">
        <thead>
            <tr class="table-active">
                <th scope="col">IDENTIFIER</th>
                <th scope="col">USERNAME</th>
                <th scope="col">EMAIL</th>
            </tr>
        </thead>
        <tbody>
            {% for c in users %}
                <tr> 
                    <th scope="row">{{c.id}}</th>
                    <td>{{c.username}}</td>
                    <td>{{c.email}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>